@font-face {
    font-family: 'libby';
    src: url('libbybold-webfont.woff2') format('woff2'), url('libbybold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'libby';
    src: url('libbyregular-webfont.woff2') format('woff2'), url('libbyregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}