<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-csp="" ng-app="coreApp">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Nuskin Summer Promo</title>
    <meta name="description" content="">

    <!-- mobile meta -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!--[if IE]>
  			<link rel="shortcut icon" href="images/favicon.ico">
  		<![endif]-->
    <!-- or, set /favicon.ico for IE10 win -->
    <meta name="msapplication-TileColor" content="#f01d4f">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="assets/style/spinner.css">
    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="assets/style/main.css">
    <!-- REMOVE THAT FOR PRODCUTION -->
    <script>
        var userType = "20";
        var nuskin = {
            util: {
                languageCode: 'fr',
                countryCode: 'BE'
            },
            summerPromo: {
                faq: [{
                    question: '1 qsmldkqsmldjklqsd ?',
                    response: 'aaaaaaaaaaaaaaaaaaaaa'
                }, {
                    question: '2 qsmldkqsmldjklqsd ?',
                    response: 'aaaaaaaaaaaaaaaaaaaaa'
                }, {
                    question: '3 qsmldkqsmldjklqsd ?',
                    response: 'aaaaaaaaaaaaaaaaaaaaa'
                }, {
                    question: '4 qsmldkqsmldjklqsd ?',
                    response: 'aaaaaaaaaaaaaaaaaaaaa'
                }, {
                    question: '5 qsmldkqsmldjklqsd ?',
                    response: 'aaaaaaaaaaaaaaaaaaaaa'
                }, {
                    question: '6 qsmldkqsmldjklqsd ?',
                    response: 'aaaaaaaaaaaaaaaaaaaaa'
                }],
                categories: {
                    data: [{
                        "key": "category1",
                        "name": "SPARKLE EYES",
                        "description": [
                            "<h2>AVE LOREP IPSUM</h2>",
                            "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta leo sit amet hendrerit scelerisque. Nulla venenatis in justo ac vestibulum. Nam eu ultrices mauris. Vivamus aliquet consectetur lacus at ullamcorper. Sed quis congue turpis. Fusce luctus, nunc vel gravida rutrum, odio nibh tristique dui, mattis vulputate ipsum mi nec enim. Nam vel magna in massa congue cursus. Aliquam ut nisl rutrum, tincidunt risus vitae, elementum ex. Cras molestie fringilla neque sed fermentum. Pellentesque interdum, lectus a rutrum lobortis, augue lectus pharetra libero, sit amet venenatis diam ligula in sem.</p>",
                            "<ul><li>1 blalblblblblbllblblblblbl</li><li>2 ckckckckckckckckckkckckckckck</li><li>3 mdmdmdmdmmdmdmdmdmdddmdmd</li></ul>"
                        ].join('')
                    }, {
                        "key": "category2",
                        "name": "FIRMING",
                        "description": [
                            "<h2>AVE LOREP IPSUM</h2>",
                            "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta leo sit amet hendrerit scelerisque. Nulla venenatis in justo ac vestibulum. Nam eu ultrices mauris. Vivamus aliquet consectetur lacus at ullamcorper. Sed quis congue turpis. Fusce luctus, nunc vel gravida rutrum, odio nibh tristique dui, mattis vulputate ipsum mi nec enim. Nam vel magna in massa congue cursus. Aliquam ut nisl rutrum, tincidunt risus vitae, elementum ex. Cras molestie fringilla neque sed fermentum. Pellentesque interdum, lectus a rutrum lobortis, augue lectus pharetra libero, sit amet venenatis diam ligula in sem.</p>",
                            "<ul><li>1 blalblblblblbllblblblblbl</li><li>2 ckckckckckckckckckkckckckckck</li><li>3 mdmdmdmdmmdmdmdmdmdddmdmd</li></ul>"
                        ].join('')
                    }, {
                        "key": "category3",
                        "name": "SUNNY DAY",
                        "description": [
                            "<h2>AVE LOREP IPSUM</h2>",
                            "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta leo sit amet hendrerit scelerisque. Nulla venenatis in justo ac vestibulum. Nam eu ultrices mauris. Vivamus aliquet consectetur lacus at ullamcorper. Sed quis congue turpis. Fusce luctus, nunc vel gravida rutrum, odio nibh tristique dui, mattis vulputate ipsum mi nec enim. Nam vel magna in massa congue cursus. Aliquam ut nisl rutrum, tincidunt risus vitae, elementum ex. Cras molestie fringilla neque sed fermentum. Pellentesque interdum, lectus a rutrum lobortis, augue lectus pharetra libero, sit amet venenatis diam ligula in sem.</p>",
                            "<ul><li>1 blalblblblblbllblblblblbl</li><li>2 ckckckckckckckckckkckckckckck</li><li>3 mdmdmdmdmmdmdmdmdmdddmdmd</li></ul>"
                        ].join('')
                    }, {
                        "key": "promoProducts",
                        "name": "EXCLUSIVE",
                        "description": [
                            "<h2>AVE LOREP IPSUM</h2>",
                            "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta leo sit amet hendrerit scelerisque. Nulla venenatis in justo ac vestibulum. Nam eu ultrices mauris. Vivamus aliquet consectetur lacus at ullamcorper. Sed quis congue turpis. Fusce luctus, nunc vel gravida rutrum, odio nibh tristique dui, mattis vulputate ipsum mi nec enim. Nam vel magna in massa congue cursus. Aliquam ut nisl rutrum, tincidunt risus vitae, elementum ex. Cras molestie fringilla neque sed fermentum. Pellentesque interdum, lectus a rutrum lobortis, augue lectus pharetra libero, sit amet venenatis diam ligula in sem.</p>",
                            "<ul><li>1 blalblblblblbllblblblblbl</li><li>2 ckckckckckckckckckkckckckckck</li><li>3 mdmdmdmdmmdmdmdmdmdddmdmd</li></ul>"
                        ].join('')
                    }],
                    items: [{
                        "key": "category1",
                        "name": "SPARKLE EYES",
                        "products": [{
                            "sku": "97101241",
                            "isOutOfStock": false,
                            "isInPresales": true
                        }, {
                            "sku": "97101218",
                            "isOutOfStock": true,
                            "isInPresales": false
                        }, {
                            "sku": "97102851",
                            "isOutOfStock": false,
                            "isInPresales": false
                        }]
                    }, {
                        "key": "category2",
                        "name": "FIRMING",
                        "products": [{
                            "sku": "97003883",
                            "isOutOfStock": false,
                            "isInPresales": false
                        }, {
                            "sku": "97102704",
                            "isOutOfStock": false,
                            "isInPresales": false
                        }, {
                            "sku": "97003903",
                            "isOutOfStock": false,
                            "isInPresales": false
                        }]
                    }, {
                        "key": "category3",
                        "name": "SUNNY DAY",
                        "products": [{
                            "sku": "97110369",
                            "isOutOfStock": false,
                            "isInPresales": false
                        }, {
                            "sku": "97101220",
                            "isOutOfStock": false,
                            "isInPresales": false
                        }, {
                            "sku": "97001344",
                            "isOutOfStock": false,
                            "isInPresales": false
                        }]

                    }, {
                        "key": "promoProducts",
                        "name": "EXCLUSIVE",
                        "products": [{
                            "sku": "97003882",
                            "isOutOfStock": false,
                            "isInPresales": false
                        }, {
                            "sku": "97102707",
                            "isOutOfStock": true,
                            "isInPresales": false
                        }, {
                            "sku": "97110809",
                            "isOutOfStock": false,
                            "isInPresales": false
                        }]
                    }]
                },
                translations: {
                    common: {
                        newProduct: 'New',
                        addToCart: 'Add to cart',
                        viewProduct: 'View this product',
                        discoverRitual: 'Discover the ritual',
                        checkout: 'Checkout',
                        moreInformations: 'More informations',
                        remove: 'Remove',
                        goBack: 'Go back',
                        discoverBrandedItems: 'Discover the branded items now',
                        ritual: 'The ritual',
                        titleProduct: 'Product',
                        basket: 'Basket',
                        loading: 'Loading',
                        cartInvitation1: '2 more left',
                        cartInvitation2: '1 more left',
                        cartInvitation3: "The exclusive collection is now available, <a ui-sref=\"app.shop({showCase: 'promo'})\">discover them</a> or <button ng-click=\"navigationCartVm.redirectToCheckout()\">checkout</button>",
                        promoInformation: 'Buy at least <b>3 different products</b> to discover the <b>exclusive collection ! </b>'
                    }
                }
            }
        }
    </script>
</head>

<body ng-controller="mainController as mainVm" class="{{bodylayout}}">
    <!-- SPINNER -->
    <div id="spinner" spinner-loader>
        <div class="ajax-loader">
            <div class="loader" ng-bind="$root.translations.common.loading"></div>
        </div>
    </div>
    <!-- WELCOME -->
    <h1>
      <a ui-sref="app.shop({showCase: 'normal'})">Accueil</a>
    </h1>

    <!-- PROMO INFORMATION POPUP -->
    <!--
<div ng-class="{'hide': mainVm.hasClosedPromoInformationPopup === true}">
    <div ng-click="mainVm.closePromoInformationPopup()">Fermer</div>
    <div dynamic="$root.translations.common.promoInformation"></div>
</div>
-->

    <!-- SHOPPING CART ERROR MESSAGE -->
    <!--
  <div ng-class="{'hide': !mainVm.cartErrorMessage.hasError}">
    <p ng-bind="mainVm.cartErrorMessage.message"></p>
    <div ng-repeat="product in mainVm.cartErrorMessage.products">
        <span ng-bind="product"></span>
    </div>
</div>
-->

    <div id="main-wrapper">
        <!-- ZONE HEADER -->

        <div class="background header">
            <div class="wall"></div>
            <div class="halos">
                <div class="halo blue"></div>
                <div class="halo yellow"></div>
            </div>
        </div>

        <div id="header-wrapper">
            <div ui-view="header"></div>
        </div>


        <div class="background">
            <div class="wall"></div>
            <div class="floor"></div>
            <div class="halos">
                <div class="halo blue"></div>
                <div class="halo yellow"></div>
            </div>
        </div>

        <div id="section-wrapper">
            <button id="back-button" ui-sref="app.shop({showCase: 'normal'})" ng-class="{'hide': mainVm.$state.current.name == 'app.shop' && mainVm.$stateParams.showCase == '{{::mainVm.ROUTING_SHOP_STATE.normal}}'}" ng-bind="$root.translations.common.goBack"></button>
            <!-- ng-click="mainVm.goBack()" -->
            <a id="promo-button" ui-sref="app.shop({showCase:'{{::mainVm.ROUTING_SHOP_STATE.promo}}'})" ng-class="{'hide': mainVm.$stateParams.showCase == '{{::mainVm.ROUTING_SHOP_STATE.promo}}', 'disabled': !mainVm.canBuyPromoProducts}" ng-bind="$root.translations.common.discoverBrandedItems"></a>

            <section id="section-products" ng-animate-children="true">
                <!-- ZONE CATEGORIES -->
                <nav id="nav-rituals">
                    <a ui-sref="app.shop.category({categoryId:'{{::category.key}}'})" ng-repeat="category in mainVm.categories" ng-bind="::category.name" ng-class="{'active': mainVm.categoryActive == category.key}"></a>
                </nav>
                <!-- ZONE CORE -->
                <div id="main-view" ui-view="container"></div>
            </section>
        </div>

        <div id="main-footer" ui-view="footer"></div>

    </div>
</body>

<!-- global functions -->
<script type="text/javascript">
    if (!String.prototype.format) {
        String.prototype.format = function () {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function (match, number) {
                return typeof args[number] != 'undefined' ? args[number] : match;
            });
        };
    }
</script>
<!-- Vendors -->
<script type="text/javascript" src="vendor/underscore.js"></script>
<script type="text/javascript" src="vendor/angular.js"></script>
<script type="text/javascript" src="vendor/angular-ui-router.js"></script>
<script type="text/javascript" src="vendor/angular-sanitize.js"></script>
<script type="text/javascript" src="vendor/angular-local-storage.js"></script>
<script type="text/javascript" src="vendor/angular-animate.js"></script>
<script type="text/javascript" src="vendor/TweenMax.js"></script>
<!-- App -->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/templates.js"></script>
<script type="text/javascript" src="js/config.js"></script>

</html>